@******************************************************************************
 se puede colocar comentarios en muchos sitios y no imprime en la vista del
 usuario
 ******************************************************************************@

 @******************************************************************************
podemos escribir muchos comentarios sin limites y aqui documentamos nuestra
plantilla y su modo de uso .....

  ******************************************************************************@
@content={
  <h3>
    {{tema}}
  </h3>
  para usar los comentarios se inicia con @@****

  y se termina con ****@@
}
@base(content)
